In [292]:
import pandas as pd

# 1 LIMPIANDO DATA

In [295]:
df_data_historica = pd.read_csv('fifa_worldcup_historical_data.csv')
df_data_historica

           home         score      away    year
0       France            4–1    Mexico  1930.0
1    Argentina            1–0    France  1930.0
2        Chile            3–0    Mexico  1930.0
3        Chile            1–0    France  1930.0
4    Argentina            6–3    Mexico  1930.0
..          ...           ...       ...     ...
792     Russia   2–2 (a.e.t.)   Croatia  2018.0
793     France            1–0   Belgium  2018.0
794    Croatia   2–1 (a.e.t.)   England  2018.0
795    Belgium            2–0   England  2018.0
796     France            4–2   Croatia  2018.0

[797 rows x 4 columns]

# 1.1 Limpieza de df_fixture

In [298]:
df_fixture = pd.read_csv('fifa_worldcup_fixture.csv')
df_fixture

                home     score              away  year
0             Qatar    Match 1           Ecuador  2022
1           Senegal    Match 2       Netherlands  2022
2             Qatar   Match 18           Senegal  2022
3       Netherlands   Match 19           Ecuador  2022
4           Ecuador   Match 35           Senegal  2022
..               ...       ...               ...   ...
59  Winners Match 51  Match 59  Winners Match 52  2022
60  Winners Match 57  Match 61  Winners Match 58  2022
61  Winners Match 59  Match 62  Winners Match 60  2022
62   Losers Match 61  Match 63   Losers Match 62  2022
63  Winners Match 61  Match 64  Winners Match 62  2022

[64 rows x 4 columns]

In [300]:
df_fixture

                home     score              away  year
0             Qatar    Match 1           Ecuador  2022
1           Senegal    Match 2       Netherlands  2022
2             Qatar   Match 18           Senegal  2022
3       Netherlands   Match 19           Ecuador  2022
4           Ecuador   Match 35           Senegal  2022
..               ...       ...               ...   ...
59  Winners Match 51  Match 59  Winners Match 52  2022
60  Winners Match 57  Match 61  Winners Match 58  2022
61  Winners Match 59  Match 62  Winners Match 60  2022
62   Losers Match 61  Match 63   Losers Match 62  2022
63  Winners Match 61  Match 64  Winners Match 62  2022

[64 rows x 4 columns]

# 1.1.1 Limpieza de df_fixture["away"]

In [303]:
#Se observa que la data no esta del todo limpio
set_away = set(df_fixture["away"].to_list())
print(set_away)

{'\xa0Argentina', 'Winners Match 56', '\xa0Uruguay', '\xa0Brazil', '\xa0Denmark', '\xa0Japan', 'Runners-up Group D', '\xa0Spain', '\xa0Netherlands', 'Runners-up Group G', '\xa0Ecuador', '\xa0Senegal', '\xa0Tunisia', '\xa0Croatia', '\xa0Morocco', 'Runners-up Group B', 'Runners-up Group E', '\xa0Ghana', '\xa0Wales', '\xa0Cameroon', '\xa0Qatar', '\xa0Australia', 'Runners-up Group C', '\xa0France', '\xa0Poland', '\xa0Costa Rica', 'Winners Match 60', 'Runners-up Group F', 'Losers Match 62', 'Winners Match 50', '\xa0Belgium', '\xa0Germany', 'Winners Match 62', '\xa0Mexico', '\xa0Iran', '\xa0Switzerland', 'Runners-up Group A', '\xa0England', '\xa0Saudi Arabia', '\xa0Canada', 'Runners-up Group H', 'Winners Match 58', '\xa0Portugal', '\xa0South Korea', 'Winners Match 54', '\xa0Serbia', '\xa0United States', 'Winners Match 52'}

In [305]:
#Para eliminar espacios en blancos de una cadena de texto
df_fixture['away'] = df_fixture['away'].str.strip()

In [307]:
set_away = set(df_fixture["away"].to_list())
print(set_away)

{'Winners Match 56', 'Mexico', 'Brazil', 'Portugal', 'Cameroon', 'England', 'Runners-up Group D', 'Ecuador', 'Saudi Arabia', 'Qatar', 'Switzerland', 'Germany', 'Runners-up Group G', 'Serbia', 'Runners-up Group E', 'Runners-up Group B', 'South Korea', 'Argentina', 'Netherlands', 'Iran', 'Japan', 'Runners-up Group C', 'Canada', 'Winners Match 60', 'Croatia', 'France', 'Morocco', 'Senegal', 'Runners-up Group F', 'Losers Match 62', 'Wales', 'Winners Match 50', 'Tunisia', 'Denmark', 'Costa Rica', 'Winners Match 62', 'Runners-up Group A', 'United States', 'Belgium', 'Runners-up Group H', 'Winners Match 58', 'Uruguay', 'Australia', 'Poland', 'Winners Match 54', 'Ghana', 'Winners Match 52', 'Spain'}

# 1.1.2 Limpieza de df_fixture["home"]

In [310]:
#Lo mismo se aplica aqui
df_fixture['home'] = df_fixture['home'].str.strip()

# 1.1.3 Limpieza de df_fixture["score"]

In [313]:
set_score = set(df_fixture["score"].to_list())
print(set_score)

{'Match 7', 'Match 60', 'Match 6', 'Match 25', 'Match 20', 'Match 44', 'Match 41', 'Match 9', 'Match 46', 'Match 2', 'Match 48', 'Match 21', 'Match 23', 'Match 28', 'Match 1', 'Match 13', 'Match 35', 'Match 10', 'Match 27', 'Match 32', 'Match 57', 'Match 24', 'Match 63', 'Match 64', 'Match 61', 'Match 50', 'Match 39', 'Match 59', 'Match 51', 'Match 33', 'Match 22', 'Match 19', 'Match 11', 'Match 31', 'Match 52', 'Match 29', 'Match 4', 'Match 15', 'Match 14', 'Match 8', 'Match 43', 'Match 42', 'Match 18', 'Match 37', 'Match 55', 'Match 30', 'Match 56', 'Match 38', 'Match 47', 'Match 53', 'Match 58', 'Match 49', 'Match 17', 'Match 12', 'Match 34', 'Match 16', 'Match 40', 'Match 62', 'Match 5', 'Match 45', 'Match 26', 'Match 54', 'Match 3', 'Match 36'}

# 1.2 Limpieza de df_historical_data

In [316]:
df_data_historica = pd.read_csv('fifa_worldcup_historical_data.csv')
df_data_historica

           home         score      away    year
0       France            4–1    Mexico  1930.0
1    Argentina            1–0    France  1930.0
2        Chile            3–0    Mexico  1930.0
3        Chile            1–0    France  1930.0
4    Argentina            6–3    Mexico  1930.0
..          ...           ...       ...     ...
792     Russia   2–2 (a.e.t.)   Croatia  2018.0
793     France            1–0   Belgium  2018.0
794    Croatia   2–1 (a.e.t.)   England  2018.0
795    Belgium            2–0   England  2018.0
796     France            4–2   Croatia  2018.0

[797 rows x 4 columns]

# 1.2.1 Limpieza de df_data_historica["home"]

In [318]:
#Se observa que la data no esta del todo limpio
set_home_dh= set(df_data_historica["home"].to_list())
print(set_home_dh)

{'Hungary\xa0', 'Serbia\xa0', 'Japan\xa0', 'Togo\xa0', 'Senegal\xa0', 'South Korea\xa0', 'South Africa\xa0', 'England\xa0', 'Morocco\xa0', 'Algeria\xa0', 'Czech Republic\xa0', 'Saudi Arabia\xa0', 'West Germany\xa0', 'Sweden\xa0', 'Bosnia and Herzegovina\xa0', 'New Zealand\xa0', 'Panama\xa0', 'China\xa0', 'North Korea\xa0', 'Ecuador\xa0', 'Honduras\xa0', 'Turkey\xa0', 'Chile\xa0', 'Peru\xa0', 'Poland\xa0', 'Denmark\xa0', 'Uruguay\xa0', 'East Germany\xa0', 'Iran\xa0', 'Wales\xa0', 'Greece\xa0', 'Ghana\xa0', 'Soviet Union\xa0', 'Slovenia\xa0', 'United States\xa0', 'Haiti\xa0', 'Jamaica\xa0', 'Russia\xa0', 'FR Yugoslavia\xa0', 'Trinidad and Tobago\xa0', 'Brazil\xa0', 'Nigeria\xa0', 'Iraq\xa0', 'Northern Ireland\xa0', 'Spain\xa0', 'Paraguay\xa0', 'Czechoslovakia\xa0', 'Costa Rica\xa0', 'Romania\xa0', 'Netherlands\xa0', 'Cameroon\xa0', 'Australia\xa0', 'Slovakia\xa0', 'Tunisia\xa0', 'Portugal\xa0', 'France\xa0', 'Ukraine\xa0', 'Switzerland\xa0', 'Mexico\xa0', 'Croatia\xa0', 'Colombia\xa0', 'Bulgaria\xa0', 'Yugoslavia\xa0', 'Belgium\xa0', 'Republic of Ireland\xa0', 'Scotland\xa0', 'Zaire\xa0', 'Cuba\xa0', 'Angola\xa0', 'Iceland\xa0', 'Germany\xa0', 'Italy\xa0', 'Canada\xa0', 'Serbia and Montenegro\xa0', 'Argentina\xa0', 'Ivory Coast\xa0', 'Austria\xa0', 'Egypt\xa0'}

In [320]:
df_data_historica["home"]=df_data_historica["home"].str.strip()

In [322]:
#Se observa que la data no esta del todo limpio
set_home_dh= set(df_data_historica["home"].to_list())
print(set_home_dh)

{'Mexico', 'Portugal', 'Paraguay', 'Colombia', 'New Zealand', 'Austria', 'Honduras', 'Switzerland', 'Peru', 'Nigeria', 'Bulgaria', 'Croatia', 'Czech Republic', 'Wales', 'Romania', 'Russia', 'Egypt', 'Chile', 'Jamaica', 'United States', 'Iceland', 'Cameroon', 'Trinidad and Tobago', 'Hungary', 'Ecuador', 'Italy', 'Zaire', 'South Korea', 'Argentina', 'Iran', 'Haiti', 'Senegal', 'Tunisia', 'Iraq', 'Ivory Coast', 'Angola', 'East Germany', 'Denmark', 'Bosnia and Herzegovina', 'West Germany', 'Soviet Union', 'Panama', 'Scotland', 'Poland', 'Turkey', 'Ukraine', 'Saudi Arabia', 'Germany', 'Serbia', 'Czechoslovakia', 'China', 'Japan', 'Slovenia', 'Algeria', 'Morocco', 'Sweden', 'Costa Rica', 'Belgium', 'Uruguay', 'Australia', 'Spain', 'Brazil', 'Yugoslavia', 'Northern Ireland', 'Republic of Ireland', 'England', 'Cuba', 'Netherlands', 'North Korea', 'Togo', 'Canada', 'South Africa', 'France', 'Greece', 'Serbia and Montenegro', 'Ghana', 'FR Yugoslavia', 'Slovakia'}

# 1.1.1 Limpieza de df_fixture["away"]

In [326]:
#Se observa que la data no esta del todo limpio
set_away_dh= set(df_data_historica["away"].to_list())
print(set_away_dh)

{'\xa0North Korea', '\xa0Czechoslovakia', '\xa0Tunisia', '\xa0Senegal', '\xa0Morocco', ' Yugoslavia', '\xa0Poland', '\xa0Peru', '\xa0Ivory Coast', '\xa0Egypt', '\xa0Israel', '\xa0Iraq', '\xa0Iceland', '\xa0Dutch East Indies', '\xa0Belgium', '\xa0Mexico', '\xa0Iran', '\xa0New Zealand', '\xa0South Korea', '\xa0Scotland', '\xa0Chile', '\xa0Uruguay', '\xa0Brazil', '\xa0Angola', '\xa0Northern Ireland', '\xa0Slovakia', '\xa0Bolivia', '\xa0Bulgaria', '\xa0Ukraine', '\xa0Spain', '\xa0Russia', '\xa0Greece', '\xa0Cameroon', '\xa0Kuwait', '\xa0France', '\xa0Slovenia', '\xa0Jamaica', '\xa0Germany', '\xa0Norway', '\xa0Canada', '\xa0Haiti', '\xa0Paraguay', '\xa0Argentina', '\xa0Romania', '\xa0Cuba', '\xa0Turkey', '\xa0Denmark', '\xa0Japan', '\xa0Colombia', '\xa0Sweden', '\xa0Ecuador', '\xa0Zaire', '\xa0Trinidad and Tobago', '\xa0Ghana', '\xa0Czech Republic', '\xa0Australia', '\xa0East Germany', '\xa0FR Yugoslavia', '\xa0Serbia and Montenegro', '\xa0China', '\xa0Algeria', '\xa0Serbia', '\xa0United States', '\xa0Nigeria', '\xa0Togo', '\xa0Panama', '\xa0Yugoslavia', '\xa0El Salvador', '\xa0Hungary', '\xa0Netherlands', '\xa0Austria', '\xa0Croatia', '\xa0West Germany', '\xa0Italy', '\xa0Wales', '\xa0Costa Rica', '\xa0Soviet Union', '\xa0Honduras', '\xa0\xa0Switzerland', '\xa0Bosnia and Herzegovina', '\xa0Republic of Ireland', '\xa0England', '\xa0Saudi Arabia', '\xa0Portugal', '\xa0South Africa'}

In [328]:
df_data_historica["away"] = df_data_historica["away"].str.strip()

In [330]:
#Se observa que la data no esta del todo limpio
set_away_dh= set(df_data_historica["away"].to_list())
print(set_away_dh)

{'Mexico', 'Israel', 'Portugal', 'Paraguay', 'Colombia', 'New Zealand', 'Austria', 'Honduras', 'Switzerland', 'Peru', 'Nigeria', 'Bulgaria', 'Croatia', 'Czech Republic', 'Wales', 'Kuwait', 'Romania', 'Russia', 'Egypt', 'Chile', 'Jamaica', 'United States', 'Iceland', 'Bolivia', 'Cameroon', 'Trinidad and Tobago', 'Hungary', 'Ecuador', 'Italy', 'Zaire', 'South Korea', 'Argentina', 'Iran', 'Haiti', 'Senegal', 'Tunisia', 'Iraq', 'Ivory Coast', 'Angola', 'East Germany', 'Denmark', 'Bosnia and Herzegovina', 'West Germany', 'El Salvador', 'Soviet Union', 'Panama', 'Scotland', 'Poland', 'Turkey', 'Ukraine', 'Saudi Arabia', 'Germany', 'Serbia', 'Czechoslovakia', 'Norway', 'China', 'Japan', 'Slovenia', 'Algeria', 'Morocco', 'Sweden', 'Costa Rica', 'Belgium', 'Uruguay', 'Australia', 'Spain', 'Brazil', 'Yugoslavia', 'Northern Ireland', 'Republic of Ireland', 'England', 'Cuba', 'Netherlands', 'North Korea', 'Togo', 'Canada', 'South Africa', 'France', 'Dutch East Indies', 'Greece', 'Serbia and Montenegro', 'Ghana', 'FR Yugoslavia', 'Slovakia'}

# 1.2.2 Limpieza de df_data_historica["score"]

In [324]:
#Se observa que la data no esta del todo limpio
set_score_dh= set(df_data_historica["score"].to_list())
print(set_score_dh)

{'5–2', '1–1', '0–1', '0–2', '2–1 (a.e.t./g.g.)', '2–1', '3–2 (a.e.t.)', '0–2 (a.e.t.)', '6–5 (a.e.t.)', '6–1', '1–0', '7–5', 'w/o', '1–3', '1–5', '3–1 (a.e.t.)', '2–4', '4–4 (a.e.t.)', '8–3', '5–0', '4–2 (a.e.t.)', '3–4 (a.e.t.)', '0–0 (a.e.t.)', '9–0', '3–0', '4–2', '2–2', '1–2', '4–3 (a.e.t.)', '2–5', '1–7', '5–1', '7–3', '2–3', '3–2', '0–1 (a.e.t./g.g.)', '0–1 (a.e.t.)', '7–0', '1–0 (a.e.t.)', '2–2 (a.e.t.)', '1–2 (a.e.t./g.g.)', '2–1 (a.e.t.)', '8–0', '3–3', '2–4 (a.e.t.)', '1–0 (a.e.t./g.g.)', '5–3', '6–3', '7–1', '4–3', '4–0', '0–3', '1–2 (a.e.t.)', '1–1 (a.e.t.)', '10–1', '0–0', '4–4', '1–4', '4–1', '3–0 (a.e.t.)', '3–3 (a.e.t.)', '6–0', '0–7', '3–1', '2–0', '7–2', '0–4'}

In [332]:
df_data_historica[df_data_historica["home"].str.contains('Sweden') & df_data_historica["away"].str.contains('Austria')]

      home score     away    year
37  Sweden   w/o  Austria  1938.0

In [334]:
df_data_historica[df_data_historica["home"].str.contains('Sweden') & 
                                    df_data_historica["away"].str.contains('Austria')].index

Index([37], dtype='int64')

In [336]:
index_eliminar = df_data_historica[df_data_historica["home"].str.contains('Sweden') &
                                    df_data_historica["away"].str.contains('Austria')].index

In [338]:
df_data_historica.drop(index=index_eliminar,inplace=True)

In [340]:
df_data_historica[df_data_historica["home"].str.contains('Sweden') & 
                                    df_data_historica["away"].str.contains('Austria')]

Empty DataFrame
Columns: [home, score, away, year]
Index: []

In [342]:
#Se observa que la data no esta del todo limpio
set_score_dh= set(df_data_historica["score"].to_list())
print(set_score_dh)

{'5–2', '1–1', '0–1', '0–2', '2–1 (a.e.t./g.g.)', '2–1', '3–2 (a.e.t.)', '0–2 (a.e.t.)', '6–5 (a.e.t.)', '6–1', '1–0', '7–5', '1–3', '1–5', '3–1 (a.e.t.)', '2–4', '4–4 (a.e.t.)', '8–3', '5–0', '4–2 (a.e.t.)', '3–4 (a.e.t.)', '0–0 (a.e.t.)', '9–0', '3–0', '4–2', '2–2', '1–2', '4–3 (a.e.t.)', '2–5', '1–7', '5–1', '7–3', '2–3', '3–2', '0–1 (a.e.t./g.g.)', '0–1 (a.e.t.)', '7–0', '1–0 (a.e.t.)', '2–2 (a.e.t.)', '1–2 (a.e.t./g.g.)', '2–1 (a.e.t.)', '8–0', '3–3', '2–4 (a.e.t.)', '1–0 (a.e.t./g.g.)', '5–3', '6–3', '7–1', '4–3', '4–0', '0–3', '1–2 (a.e.t.)', '1–1 (a.e.t.)', '10–1', '0–0', '4–4', '1–4', '4–1', '3–0 (a.e.t.)', '3–3 (a.e.t.)', '6–0', '0–7', '3–1', '2–0', '7–2', '0–4'}

In [344]:


# Filtra las filas donde la columna 'score' tiene el formato número-número(a.e.t.)
result = df_data_historica[df_data_historica["score"].str.contains(r'^[0-9]+-[0-9]+\(\a\.e\.t\.\)$', na=False)]

# Muestra las filas filtradas
print(result)

Empty DataFrame
Columns: [home, score, away, year]
Index: []

In [346]:
# Filtra todas las filas donde la columna "score" contenga texto adicional entre paréntesis
result = df_data_historica[df_data_historica["score"].str.contains(r'\(.*\)', na=False)]

# Muestra las filas filtradas
print(result)

                 home              score                 away    year
24            Austria       3–2 (a.e.t.)               France  1934.0
27              Italy       1–1 (a.e.t.)                Spain  1934.0
34              Italy       2–1 (a.e.t.)       Czechoslovakia  1934.0
35        Switzerland       1–1 (a.e.t.)              Germany  1938.0
38               Cuba       3–3 (a.e.t.)              Romania  1938.0
40              Italy       2–1 (a.e.t.)               Norway  1938.0
41             Brazil       6–5 (a.e.t.)               Poland  1938.0
42     Czechoslovakia       3–0 (a.e.t.)          Netherlands  1938.0
48             Brazil       1–1 (a.e.t.)       Czechoslovakia  1938.0
78             Brazil       1–1 (a.e.t.)           Yugoslavia  1954.0
90            England       4–4 (a.e.t.)              Belgium  1954.0
99            Hungary       4–2 (a.e.t.)              Uruguay  1954.0
108  Northern Ireland       2–1 (a.e.t.)       Czechoslovakia  1958.0
200           England       4–2 (a.e.t.)         West Germany  1966.0
225      Soviet Union       0–1 (a.e.t.)              Uruguay  1970.0
228      West Germany       3–2 (a.e.t.)              England  1970.0
230             Italy       4–3 (a.e.t.)         West Germany  1970.0
308         Argentina       3–1 (a.e.t.)          Netherlands  1978.0
358      West Germany       3–3 (a.e.t.)               France  1982.0
398      Soviet Union       3–4 (a.e.t.)              Belgium  1986.0
405            Brazil       1–1 (a.e.t.)               France  1986.0
406      West Germany       0–0 (a.e.t.)               Mexico  1986.0
408             Spain       1–1 (a.e.t.)              Belgium  1986.0
411           Belgium       2–4 (a.e.t.)               France  1986.0
463            France  1–0 (a.e.t./g.g.)             Paraguay  1998.0
468         Argentina       2–2 (a.e.t.)              England  1998.0
469             Italy       0–0 (a.e.t.)               France  1998.0
473            Brazil       1–1 (a.e.t.)          Netherlands  1998.0
527            Sweden  1–2 (a.e.t./g.g.)              Senegal  2002.0
528             Spain       1–1 (a.e.t.)  Republic of Ireland  2002.0
532       South Korea  2–1 (a.e.t./g.g.)                Italy  2002.0
535             Spain       0–0 (a.e.t.)          South Korea  2002.0
536           Senegal  0–1 (a.e.t./g.g.)               Turkey  2002.0
590         Argentina       2–1 (a.e.t.)               Mexico  2006.0
594       Switzerland       0–0 (a.e.t.)              Ukraine  2006.0
597           Germany       1–1 (a.e.t.)            Argentina  2006.0
599           England       0–0 (a.e.t.)             Portugal  2006.0
601           Germany       0–2 (a.e.t.)                Italy  2006.0
604             Italy       1–1 (a.e.t.)               France  2006.0
654     United States       1–2 (a.e.t.)                Ghana  2010.0
659          Paraguay       0–0 (a.e.t.)                Japan  2010.0
662           Uruguay       1–1 (a.e.t.)                Ghana  2010.0
668       Netherlands       0–1 (a.e.t.)                Spain  2010.0
717            Brazil       1–1 (a.e.t.)                Chile  2014.0
720        Costa Rica       1–1 (a.e.t.)               Greece  2014.0
722           Germany       2–1 (a.e.t.)              Algeria  2014.0
723         Argentina       1–0 (a.e.t.)          Switzerland  2014.0
724           Belgium       2–1 (a.e.t.)        United States  2014.0
728       Netherlands       0–0 (a.e.t.)           Costa Rica  2014.0
730       Netherlands       0–0 (a.e.t.)            Argentina  2014.0
732           Germany       1–0 (a.e.t.)            Argentina  2014.0
783             Spain       1–1 (a.e.t.)               Russia  2018.0
784           Croatia       1–1 (a.e.t.)              Denmark  2018.0
788          Colombia       1–1 (a.e.t.)              England  2018.0
792            Russia       2–2 (a.e.t.)              Croatia  2018.0
794           Croatia       2–1 (a.e.t.)              England  2018.0

In [348]:
df_data_historica["score"] = df_data_historica["score"].str.replace(r'\(.*\)', ' ', regex=True)

In [350]:
print(df_data_historica["score"])

0        4–1
1        1–0
2        3–0
3        1–0
4        6–3
       ...
792    2–2
793      1–0
794    2–1
795      2–0
796      4–2
Name: score, Length: 796, dtype: object

In [352]:
# Filtra todas las filas donde la columna "score" contenga texto adicional entre paréntesis
result = df_data_historica[df_data_historica["score"].str.contains(r'\(.*\)', na=False)]

# Muestra las filas filtradas
print(result)

Empty DataFrame
Columns: [home, score, away, year]
Index: []

In [354]:
#Se observa que la data no esta del todo limpio ya que tiene ciertos espacios en blanco
set_score_dh= set(df_data_historica["score"].to_list())
print(set_score_dh)

{'5–2', '2–2  ', '1–1', '4–2  ', '3–1  ', '4–4  ', '0–1', '0–2', '2–1', '4–3  ', '6–1', '1–0', '7–5', '1–3', '1–5', '2–4  ', '1–0  ', '0–2  ', '2–4', '8–3', '3–4  ', '5–0', '3–3  ', '9–0', '0–0  ', '3–0', '4–2', '2–2', '1–2', '2–5', '1–2  ', '1–7', '3–0  ', '5–1', '7–3', '2–1  ', '2–3', '3–2', '0–1  ', '7–0', '6–5  ', '8–0', '3–3', '1–1  ', '3–2  ', '5–3', '6–3', '7–1', '4–3', '4–0', '0–3', '10–1', '0–0', '4–4', '1–4', '4–1', '6–0', '0–7', '3–1', '2–0', '7–2', '0–4'}

In [356]:
df_data_historica["score"] = df_data_historica["score"].str.strip()

In [358]:
#Se observa que la data ya esta limpio
set_score_dh= set(df_data_historica["score"].to_list())
print(set_score_dh)

{'5–2', '1–1', '0–1', '0–2', '2–1', '6–1', '1–0', '7–5', '1–3', '1–5', '2–4', '8–3', '5–0', '9–0', '3–0', '4–2', '2–2', '1–2', '2–5', '1–7', '5–1', '7–3', '2–3', '3–2', '7–0', '8–0', '3–3', '5–3', '6–3', '7–1', '4–3', '3–4', '4–0', '0–3', '6–5', '10–1', '0–0', '4–4', '1–4', '4–1', '6–0', '0–7', '3–1', '2–0', '7–2', '0–4'}

In [360]:
# Filtra todas las filas donde la columna "score" contenga texto adicional entre paréntesis
result = df_data_historica[df_data_historica["score"].str.contains(r'\(.*\)', na=False)]

# Muestra las filas filtradas
print(result)

Empty DataFrame
Columns: [home, score, away, year]
Index: []

In [362]:
df_data_historica["score"].str.split('-')

0      [4–1]
1      [1–0]
2      [3–0]
3      [1–0]
4      [6–3]
       ...
792    [2–2]
793    [1–0]
794    [2–1]
795    [2–0]
796    [4–2]
Name: score, Length: 796, dtype: object

In [364]:
df_data_historica["score"].str.split('–', expand=True )

     0  1
0    4  1
1    1  0
2    3  0
3    1  0
4    6  3
..  .. ..
792  2  2
793  1  0
794  2  1
795  2  0
796  4  2

[796 rows x 2 columns]

In [366]:
df_data_historica[['HomeGoals','AwayGoals']] = df_data_historica["score"].str.split('–',expand=True)

In [368]:
df_data_historica

          home score     away    year HomeGoals AwayGoals
0       France   4–1   Mexico  1930.0         4         1
1    Argentina   1–0   France  1930.0         1         0
2        Chile   3–0   Mexico  1930.0         3         0
3        Chile   1–0   France  1930.0         1         0
4    Argentina   6–3   Mexico  1930.0         6         3
..         ...   ...      ...     ...       ...       ...
792     Russia   2–2  Croatia  2018.0         2         2
793     France   1–0  Belgium  2018.0         1         0
794    Croatia   2–1  England  2018.0         2         1
795    Belgium   2–0  England  2018.0         2         0
796     France   4–2  Croatia  2018.0         4         2

[796 rows x 6 columns]

In [370]:
df_data_historica.drop('score',axis=1,inplace=True)
df_data_historica

          home     away    year HomeGoals AwayGoals
0       France   Mexico  1930.0         4         1
1    Argentina   France  1930.0         1         0
2        Chile   Mexico  1930.0         3         0
3        Chile   France  1930.0         1         0
4    Argentina   Mexico  1930.0         6         3
..         ...      ...     ...       ...       ...
792     Russia  Croatia  2018.0         2         2
793     France  Belgium  2018.0         1         0
794    Croatia  England  2018.0         2         1
795    Belgium  England  2018.0         2         0
796     France  Croatia  2018.0         4         2

[796 rows x 5 columns]

In [372]:
df_data_historica.rename(columns={'home':'HomeTeam','away':'AwayTeam','year':'Year'},inplace=True)

In [374]:
df_data_historica.dtypes

HomeTeam      object
AwayTeam      object
Year         float64
HomeGoals     object
AwayGoals     object
dtype: object

In [376]:
df_data_historica = df_data_historica.astype({'HomeGoals':int,'AwayGoals':int,'Year':int})

In [378]:
df_data_historica.dtypes

HomeTeam     object
AwayTeam     object
Year          int32
HomeGoals     int32
AwayGoals     int32
dtype: object

In [380]:
df_data_historica["TotalGoals"]=df_data_historica["HomeGoals"]+df_data_historica["AwayGoals"]

In [382]:
df_data_historica

      HomeTeam AwayTeam  Year  HomeGoals  AwayGoals  TotalGoals
0       France   Mexico  1930          4          1           5
1    Argentina   France  1930          1          0           1
2        Chile   Mexico  1930          3          0           3
3        Chile   France  1930          1          0           1
4    Argentina   Mexico  1930          6          3           9
..         ...      ...   ...        ...        ...         ...
792     Russia  Croatia  2018          2          2           4
793     France  Belgium  2018          1          0           1
794    Croatia  England  2018          2          1           3
795    Belgium  England  2018          2          0           2
796     France  Croatia  2018          4          2           6

[796 rows x 6 columns]

# Exportar la data Limpia

In [385]:
df_data_historica.to_csv('clean_fifa_worldcup_matches.csv',index=False)

In [387]:
df_fixture.to_csv('clean_fifa_worldcup_fixture.csv',index=False)