In [42]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\erick\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\erick\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\erick\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\erick\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\erick\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\erick\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [43]:
import pandas as pd
from string import ascii_uppercase as alfabeto
import pickle

In [44]:
todas_tablas = pd.read_html("https://web.archive.org/web/20221115040351/https://en.wikipedia.org/wiki/2022_FIFA_World_Cup")

In [45]:
todas_tablas

[      0     1     2
 0   Oct   NOV   Dec
 1   NaN    15   NaN
 2  2021  2022  2023,
   2022 كأس العالم لكرة القدم Kaʾs al-ʿālam li-kurat al-qadam 2022 Qatar 2022 2022 قطر  \
 0                                         Now is All
 1                                 Tournament details
 2                                       Host country
 3                                              Dates
 4                                              Teams
 5                                           Venue(s)
 6                                      ← 2018 2026 →

   2022 كأس العالم لكرة القدم Kaʾs al-ʿālam li-kurat al-qadam 2022 Qatar 2022 2022 قطر.1
 0                                         Now is All
 1                                 Tournament details
 2                                              Qatar
 3                          20 November – 18 December
 4                         32 (from 5 confederations)
 5                               8 (in 5 host cities)
 6                                      ← 2018 2026 →                                     ,
          Bidders   Votes
          Bidders Round 1     Round 2     Round 3     Round 4
 0          Qatar      11          10          11          14
 1  United States       3           5           6           8
 2    South Korea       4           5           5  Eliminated
 3          Japan       3           2  Eliminated  Eliminated
 4      Australia       1  Eliminated  Eliminated  Eliminated,
                                                    0  \
 0  AFC (6)  Australia (38)  Iran (20)  Japan (24)...

                                                    1  \
 0  CONCACAF (4)  Canada (41)  Costa Rica (31)  Me...

                                                    2  \
 0  UEFA (13)  Belgium (2)  Croatia (12)  Denmark ...

                                                    3
 0  Team qualified Team failed to qualify Team wit...  ,
                                                Pot 1  \
 0  Qatar (51) (hosts)  Brazil (1)  Belgium (2)  F...

                                                Pot 2  \
 0  Mexico (9)  Netherlands (10)  Denmark (11)  Ge...

                                                Pot 3  \
 0  Senegal (20)  Iran (21)  Japan (23)  Morocco (...

                                                Pot 4
 0  Cameroon (37)  Canada (38)  Ecuador (46)  Saud...  ,
                                                      0  \
 0    Referees Confederation Referee AFC Abdulrahman...
 1                                             Referees
 2                                        Confederation
 3                                                  AFC
 4                                                  AFC
 ..                                                 ...
 131                                               UEFA
 132                                               UEFA
 133                                               UEFA
 134                                               UEFA
 135                                               UEFA

                                                      1  \
 0    Assistant referees Confederation Assistant ref...
 1                                             Referees
 2                                              Referee
 3                        Abdulrahman Al-Jassim (Qatar)
 4                              Chris Beath (Australia)
 ..                                                 ...
 131                        Tomasz Kwiatkowski (Poland)
 132                      Juan Martínez Munuera (Spain)
 133                             Benoît Millot (France)
 134                               Paolo Valeri (Italy)
 135                       Pol van Boekel (Netherlands)

                                                      2
 0    Video assistant referees Confederation Video a...
 1                                                  NaN
 2                                                  NaN
 3                                                  NaN
 4                                                  NaN
 ..                                                 ...
 131                                                NaN
 132                                                NaN
 133                                                NaN
 134                                                NaN
 135                                                NaN

 [136 rows x 3 columns],
         Referees
    Confederation                                            Referee
 0            AFC                      Abdulrahman Al-Jassim (Qatar)
 1            AFC                            Chris Beath (Australia)
 2            AFC                             Alireza Faghani (Iran)
 3            AFC                                    Ma Ning (China)
 4            AFC  Mohammed Abdulla Hassan Mohamed (United Arab E...
 5            AFC                          Yoshimi Yamashita (Japan)
 6            CAF                            Bakary Gassama (Gambia)
 7            CAF                         Mustapha Ghorbal (Algeria)
 8            CAF                        Victor Gomes (South Africa)
 9            CAF                         Salima Mukansanga (Rwanda)
 10           CAF                          Maguette Ndiaye (Senegal)
 11           CAF                             Janny Sikazwe (Zambia)
 12      CONCACAF                          Iván Barton (El Salvador)
 13      CONCACAF                      Ismail Elfath (United States)
 14      CONCACAF                          Mario Escobar (Guatemala)
 15      CONCACAF                           Said Martínez (Honduras)
 16      CONCACAF                        César Arturo Ramos (Mexico)
 17      CONMEBOL                             Raphael Claus (Brazil)
 18      CONMEBOL                           Andrés Matonte (Uruguay)
 19      CONMEBOL                                Kevin Ortega (Peru)
 20      CONMEBOL                     Fernando Rapallini (Argentina)
 21      CONMEBOL                            Wilton Sampaio (Brazil)
 22      CONMEBOL                          Facundo Tello (Argentina)
 23      CONMEBOL                       Jesús Valenzuela (Venezuela)
 24           OFC                       Matthew Conger (New Zealand)
 25          UEFA                        Stéphanie Frappart (France)
 26          UEFA                            István Kovács (Romania)
 27          UEFA                       Danny Makkelie (Netherlands)
 28          UEFA                          Szymon Marciniak (Poland)
 29          UEFA                        Antonio Mateu Lahoz (Spain)
 30          UEFA                           Michael Oliver (England)
 31          UEFA                             Daniele Orsato (Italy)
 32          UEFA                           Daniel Siebert (Germany)
 33          UEFA                           Anthony Taylor (England)
 34          UEFA                            Clément Turpin (France)
 35          UEFA                           Slavko Vinčić (Slovenia),
    Assistant referees
         Confederation                          Assistant referee
 0                 AFC              Mohammadreza Abolfazli (Iran)
 1                 AFC                     Taleb Al-Marri (Qatar)
 2                 AFC  Mohamed Al-Hammadi (United Arab Emirates)
 3                 AFC      Hasan Al-Mahri (United Arab Emirates)
 4                 AFC                    Saud Al-Maqaleh (Qatar)
 ..                ...                                        ...
 64               UEFA                 Vasile Marinescu (Romania)
 65               UEFA                        Adam Nunn (England)
 66               UEFA                       Jan Seidel (Germany)
 67               UEFA                  Paweł Sokolnicki (Poland)
 68               UEFA             Hessel Steegstra (Netherlands)

 [69 rows x 2 columns],
    Video assistant referees
               Confederation                Video assistant referee
 0                       AFC               Abdulla Al-Marri (Qatar)
 1                       AFC              Muhammad Taqi (Singapore)
 2                       AFC                Shaun Evans (Australia)
 3                       CAF               Rédouane Jiyed (Morocco)
 4                       CAF                  Adil Zourak (Morocco)
 5                  CONCACAF                  Drew Fischer (Canada)
 6                  CONCACAF             Fernando Guerrero (Mexico)
 7                  CONCACAF     Armando Villarreal (United States)
 8                  CONMEBOL                 Julio Bascuñán (Chile)
 9                  CONMEBOL               Nicolás Gallo (Colombia)
 10                 CONMEBOL              Leodán González (Uruguay)
 11                 CONMEBOL                  Juan Soto (Venezuela)
 12                 CONMEBOL             Mauro Vigliano (Argentina)
 13                     UEFA                Jérôme Brisard (France)
 14                     UEFA              Bastian Dankert (Germany)
 15                     UEFA   Ricardo de Burgos Bengoetxea (Spain)
 16                     UEFA                  Marco Fritz (Germany)
 17                     UEFA  Alejandro Hernández Hernández (Spain)
 18                     UEFA            Massimiliano Irrati (Italy)
 19                     UEFA            Tomasz Kwiatkowski (Poland)
 20                     UEFA          Juan Martínez Munuera (Spain)
 21                     UEFA                 Benoît Millot (France)
 22                     UEFA                   Paolo Valeri (Italy)
 23                     UEFA           Pol van Boekel (Netherlands),
                                               Lusail  \
 0                              Lusail Iconic Stadium
 1                                   Capacity: 80,000
 2                                                NaN
 3  Host cities in QatarLusailDohaAl KhorAl Wakrah...
 4                                          Al Rayyan
 5                      Khalifa International Stadium
 6                               Capacity: 45,416[73]
 7                                                NaN

                                              Al Khor  \
 0                                    Al Bayt Stadium
 1                               Capacity: 60,000[70]
 2                                                NaN
 3  Host cities in QatarLusailDohaAl KhorAl Wakrah...
 4                                          Al Rayyan
 5                             Education City Stadium
 6                               Capacity: 45,350[74]
 7                                                NaN

                                                 Doha  \
 0                                        Stadium 974
 1                               Capacity: 40,000[71]
 2                                                NaN
 3  Stadiums in Doha areaEducation974KhalifaAl Thu...
 4                                          Al Rayyan
 5                           Ahmad bin Ali Stadium[e]
 6                               Capacity: 44,740[75]
 7                                                NaN

                                               Doha.1
 0                                 Al Thumama Stadium
 1                               Capacity: 40,000[72]
 2                                                NaN
 3  Stadiums in Doha areaEducation974KhalifaAl Thu...
 4                                          Al Wakrah
 5                                  Al Janoub Stadium
 6                               Capacity: 40,000[76]
 7                                                NaN  ,
             Teams                                             Hotels  \
 0       Argentina                          Qatar University Hostel 1
 1       Australia           New Aspire Academy Athlete Accommodation
 2         Belgium               Hilton Salwa Beach Resort and Villas
 3          Brazil                      The Westin Doha Hotel and Spa
 4        Cameroon            Banyan Tree Doha At La Cigale Mushaireb
 5          Canada                        Century Marina Hotel Lusail
 6      Costa Rica                                 dusitD2 Salwa Doha
 7         Croatia                                        Hilton Doha
 8         Denmark                           Retaj Salwa Resort & SPA
 9         Ecuador                            Hyatt Regency Oryx Doha
 10        England                Souq Al Wakra Hotel Qatar by Tivoli
 11         France  Al Messila – A Luxury Collection Resort & Spa,...
 12        Germany                              Zulal Wellness Resort
 13          Ghana                DoubleTree by Hilton Doha - Al Sadd
 14           Iran    Al Rayyan Hotel Doha Curio Collection by Hilton
 15          Japan                            Radisson Blu Hotel Doha
 16         Mexico                          Simaisma, A Murwab Resort
 17        Morocco                              Wyndham Doha West Bay
 18    Netherlands                                 The St. Regis Doha
 19         Poland                                 Ezdan Palace Hotel
 20       Portugal              Al Samriya Autograph Collection Hotel
 21          Qatar                         Al Aziziyah Boutique Hotel
 22   Saudi Arabia                     Sealine Beach, a Murwab Resort
 23        Senegal                        Duhail Handball Sports Hall
 24         Serbia                              Rixos Gulf Hotel Doha
 25    South Korea                       Le Méridien City Center Doha
 26          Spain                          Qatar University Hostel 2
 27    Switzerland                            Le Royal Méridien, Doha
 28        Tunisia                  Wyndham Grand Doha West Bay Beach
 29  United States            Marsa Malaz Kempinski, The Pearl – Doha
 30        Uruguay                              Pullman Doha West Bay
 31          Wales                      Delta Hotels City Center Doha

                             Training Sites
 0         Qatar University Training Site 3
 1        Aspire Zone Training Facilities 5
 2                      Salwa Training Site
 3                      Al Arabi SC Stadium
 4                    Al Sailiya SC Stadium
 5         Umm Salal SC Training Facilities
 6                       Al Ahli SC Stadium
 7                 Al Ersal Training Site 3
 8                          Al Sailiya SC 2
 9         Mesaimeer SC Training Facilities
 10                    Al Wakrah SC Stadium
 11                      Al Sadd SC Stadium
 12                       Al Shamal Stadium
 13       Aspire Zone Training Facilities 1
 14      Al Rayyan SC Training Facilities 1
 15    Al Sadd SC New Training Facilities 1
 16                      Al Khor SC Stadium
 17                    Al Duhail SC Stadium
 18        Qatar University Training Site 6
 19   Al Kharaitiyat SC Training Facilities
 20     Al Shahaniya SC Training Facilities
 21       Aspire Zone Training Facilities 3
 22                   Sealine Training Site
 23                          Al Duhail SC 2
 24         Al Arabi SC Training Facilities
 25                 Al Egla Training Site 5
 26        Qatar University Training Site 1
 27  University of Doha Training Facilities
 28                Al Egla Training Sites 3
 29                   Al Gharafa SC Stadium
 30                Al Ersal Training Site 1
 31    Al Sadd SC New Training Facilities 2  ,
                 Tie-breaking criteria for group play
 0  The ranking of teams in the group stage is det...,
    Pos      Teamvte  Pld  W  D  L  GF  GA  GD  Pts              Qualification
 0    1    Qatar (H)    0  0  0  0   0   0   0    0  Advance to knockout stage
 1    2      Ecuador    0  0  0  0   0   0   0    0  Advance to knockout stage
 2    3      Senegal    0  0  0  0   0   0   0    0                        NaN
 3    4  Netherlands    0  0  0  0   0   0   0    0                        NaN,
    Qatar Match 1  Ecuador
 0    NaN  Report      NaN,
    Senegal Match 2  Netherlands
 0      NaN  Report          NaN,
    Qatar Match 18  Senegal
 0    NaN   Report      NaN,
    Netherlands Match 19  Ecuador
 0          NaN   Report      NaN,
    Ecuador Match 35  Senegal
 0      NaN   Report      NaN,
    Netherlands Match 36  Qatar
 0          NaN   Report    NaN,
    Pos        Teamvte  Pld  W  D  L  GF  GA  GD  Pts  \
 0    1        England    0  0  0  0   0   0   0    0
 1    2           Iran    0  0  0  0   0   0   0    0
 2    3  United States    0  0  0  0   0   0   0    0
 3    4          Wales    0  0  0  0   0   0   0    0

                Qualification
 0  Advance to knockout stage
 1  Advance to knockout stage
 2                        NaN
 3                        NaN  ,
    England Match 3  Iran
 0      NaN  Report   NaN,
    United States Match 4  Wales
 0            NaN  Report    NaN,
    Wales Match 17  Iran
 0    NaN   Report   NaN,
    England Match 20  United States
 0      NaN   Report            NaN,
    Wales Match 33  England
 0    NaN   Report      NaN,
    Iran Match 34  United States
 0   NaN   Report            NaN,
    Pos       Teamvte  Pld  W  D  L  GF  GA  GD  Pts              Qualification
 0    1     Argentina    0  0  0  0   0   0   0    0  Advance to knockout stage
 1    2  Saudi Arabia    0  0  0  0   0   0   0    0  Advance to knockout stage
 2    3        Mexico    0  0  0  0   0   0   0    0                        NaN
 3    4        Poland    0  0  0  0   0   0   0    0                        NaN,
    Argentina Match 8  Saudi Arabia
 0        NaN  Report           NaN,
    Mexico Match 7  Poland
 0     NaN  Report     NaN,
    Poland Match 22  Saudi Arabia
 0     NaN   Report           NaN,
    Argentina Match 24  Mexico
 0        NaN   Report     NaN,
    Poland Match 39  Argentina
 0     NaN   Report        NaN,
    Saudi Arabia Match 40  Mexico
 0           NaN   Report     NaN,
    Pos    Teamvte  Pld  W  D  L  GF  GA  GD  Pts              Qualification
 0    1     France    0  0  0  0   0   0   0    0  Advance to knockout stage
 1    2  Australia    0  0  0  0   0   0   0    0  Advance to knockout stage
 2    3    Denmark    0  0  0  0   0   0   0    0                        NaN
 3    4    Tunisia    0  0  0  0   0   0   0    0                        NaN,
    Denmark Match 6  Tunisia
 0      NaN  Report      NaN,
    France Match 5  Australia
 0     NaN  Report        NaN,
    Tunisia Match 21  Australia
 0      NaN   Report        NaN,
    France Match 23  Denmark
 0     NaN   Report      NaN,
    Australia Match 37  Denmark
 0        NaN   Report      NaN,
    Tunisia Match 38  France
 0      NaN   Report     NaN,
    Pos     Teamvte  Pld  W  D  L  GF  GA  GD  Pts              Qualification
 0    1       Spain    0  0  0  0   0   0   0    0  Advance to knockout stage
 1    2  Costa Rica    0  0  0  0   0   0   0    0  Advance to knockout stage
 2    3     Germany    0  0  0  0   0   0   0    0                        NaN
 3    4       Japan    0  0  0  0   0   0   0    0                        NaN,
    Germany Match 11  Japan
 0      NaN   Report    NaN,
    Spain Match 10  Costa Rica
 0    NaN   Report         NaN,
    Japan Match 25  Costa Rica
 0    NaN   Report         NaN,
    Spain Match 28  Germany
 0    NaN   Report      NaN,
    Japan Match 43  Spain
 0    NaN   Report    NaN,
    Costa Rica Match 44  Germany
 0         NaN   Report      NaN,
    Pos  Teamvte  Pld  W  D  L  GF  GA  GD  Pts              Qualification
 0    1  Belgium    0  0  0  0   0   0   0    0  Advance to knockout stage
 1    2   Canada    0  0  0  0   0   0   0    0  Advance to knockout stage
 2    3  Morocco    0  0  0  0   0   0   0    0                        NaN
 3    4  Croatia    0  0  0  0   0   0   0    0                        NaN,
    Morocco Match 12  Croatia
 0      NaN   Report      NaN,
    Belgium Match 9  Canada
 0      NaN  Report     NaN,
    Belgium Match 26  Morocco
 0      NaN   Report      NaN,
    Croatia Match 27  Canada
 0      NaN   Report     NaN,
    Croatia Match 41  Belgium
 0      NaN   Report      NaN,
    Canada Match 42  Morocco
 0     NaN   Report      NaN,

In [46]:
# A->H
# 12-> 68
todas_tablas[12]

   Pos      Teamvte  Pld  W  D  L  GF  GA  GD  Pts              Qualification
0    1    Qatar (H)    0  0  0  0   0   0   0    0  Advance to knockout stage
1    2      Ecuador    0  0  0  0   0   0   0    0  Advance to knockout stage
2    3      Senegal    0  0  0  0   0   0   0    0                        NaN
3    4  Netherlands    0  0  0  0   0   0   0    0                        NaN

In [47]:
print(df.describe())

            Pos  Pld    W    D    L   GF   GA   GD  Pts
count  4.000000  4.0  4.0  4.0  4.0  4.0  4.0  4.0  4.0
mean   2.500000  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
std    1.290994  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
min    1.000000  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
25%    1.750000  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
50%    2.500000  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
75%    3.250000  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
max    4.000000  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

In [48]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Pos     4 non-null      int64
 1   Team    4 non-null      object
 2   Pld     4 non-null      int64
 3   W       4 non-null      int64
 4   D       4 non-null      int64
 5   L       4 non-null      int64
 6   GF      4 non-null      int64
 7   GA      4 non-null      int64
 8   GD      4 non-null      int64
 9   Pts     4 non-null      int64
dtypes: int64(9), object(1)
memory usage: 452.0+ bytes
None

In [49]:
for letra, i in zip(alfabeto,range(12,67,7)):
    print (letra,i)

A 12
B 19
C 26
D 33
E 40
F 47
G 54
H 61

In [50]:
todas_tablas = pd.read_html("https://web.archive.org/web/20221115040351/https://en.wikipedia.org/wiki/2022_FIFA_World_Cup")
dict_tablas = {}
for letra,i in zip(alfabeto,range (12,68,7)):
    df=todas_tablas[i]
    df.rename(columns={df.columns[1]:'Team'}, inplace=True)
    df.pop('Qualification')
    dict_tablas[f'Group {letra}'] = df
    print(df)

   Pos         Team  Pld  W  D  L  GF  GA  GD  Pts
0    1    Qatar (H)    0  0  0  0   0   0   0    0
1    2      Ecuador    0  0  0  0   0   0   0    0
2    3      Senegal    0  0  0  0   0   0   0    0
3    4  Netherlands    0  0  0  0   0   0   0    0
   Pos           Team  Pld  W  D  L  GF  GA  GD  Pts
0    1        England    0  0  0  0   0   0   0    0
1    2           Iran    0  0  0  0   0   0   0    0
2    3  United States    0  0  0  0   0   0   0    0
3    4          Wales    0  0  0  0   0   0   0    0
   Pos          Team  Pld  W  D  L  GF  GA  GD  Pts
0    1     Argentina    0  0  0  0   0   0   0    0
1    2  Saudi Arabia    0  0  0  0   0   0   0    0
2    3        Mexico    0  0  0  0   0   0   0    0
3    4        Poland    0  0  0  0   0   0   0    0
   Pos       Team  Pld  W  D  L  GF  GA  GD  Pts
0    1     France    0  0  0  0   0   0   0    0
1    2  Australia    0  0  0  0   0   0   0    0
2    3    Denmark    0  0  0  0   0   0   0    0
3    4    Tunisia    0  0  0  0   0   0   0    0
   Pos        Team  Pld  W  D  L  GF  GA  GD  Pts
0    1       Spain    0  0  0  0   0   0   0    0
1    2  Costa Rica    0  0  0  0   0   0   0    0
2    3     Germany    0  0  0  0   0   0   0    0
3    4       Japan    0  0  0  0   0   0   0    0
   Pos     Team  Pld  W  D  L  GF  GA  GD  Pts
0    1  Belgium    0  0  0  0   0   0   0    0
1    2   Canada    0  0  0  0   0   0   0    0
2    3  Morocco    0  0  0  0   0   0   0    0
3    4  Croatia    0  0  0  0   0   0   0    0
   Pos         Team  Pld  W  D  L  GF  GA  GD  Pts
0    1       Brazil    0  0  0  0   0   0   0    0
1    2       Serbia    0  0  0  0   0   0   0    0
2    3  Switzerland    0  0  0  0   0   0   0    0
3    4     Cameroon    0  0  0  0   0   0   0    0
   Pos         Team  Pld  W  D  L  GF  GA  GD  Pts
0    1     Portugal    0  0  0  0   0   0   0    0
1    2        Ghana    0  0  0  0   0   0   0    0
2    3      Uruguay    0  0  0  0   0   0   0    0
3    4  South Korea    0  0  0  0   0   0   0    0

In [51]:
dict_tablas['Group H']

   Pos         Team  Pld  W  D  L  GF  GA  GD  Pts
0    1     Portugal    0  0  0  0   0   0   0    0
1    2        Ghana    0  0  0  0   0   0   0    0
2    3      Uruguay    0  0  0  0   0   0   0    0
3    4  South Korea    0  0  0  0   0   0   0    0

In [52]:
with open ('dict_table','wb')as output:
    pickle.dump(dict_tablas,output)

In [53]:
dict_tablas['Group A']

   Pos         Team  Pld  W  D  L  GF  GA  GD  Pts
0    1    Qatar (H)    0  0  0  0   0   0   0    0
1    2      Ecuador    0  0  0  0   0   0   0    0
2    3      Senegal    0  0  0  0   0   0   0    0
3    4  Netherlands    0  0  0  0   0   0   0    0